body {
    font-family: "Courier New", Monospaced;
    font-size: 14px;
    overflow-x: hidden;
}

#navigation {
    width: 100%;
    position: fixed;
}

.navbar {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    color: black;
    opacity: 100;
}

.navbar ul li a {
    color: black;
}

.navbar-brand {
    font-weight: bold;
    color: black;
}

#welcome {
    width: 100%;
    background-color: black;
    color: white;
    height: 100vh;
}

.textWrapper {
    font-family: "Courier New", Monospaced;
    font-weight: 600;
    text-align: center;

    position: relative;
    top: 50%;
    transform: translateY(-75%);
    margin: 0;
}


.contentSection {
    width: 100%;
}

.textWrapper h1 {
    font-size: 4.5em;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.textWrapper h3 {
    font-size: 3em;
}

br {
    width: 50px;
    display: block;
    background-color: white;
    color: white;
    border-bottom: 1px solid white;
}

.hidden {
    display: none;
}

.categoryHead {
    color: white;
    font-weight: 500;
}

#creds {
    background-color: black;
    padding-top: 4vh;
    height: 25vh;
}

#projects {
    background-color: yellow;
}

#contact {
    background-color: orange;
}

.bounce {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}


