body {
    font-family: "Courier New", Monospaced;
    font-size: 14px;
}

#navigation {
    width: 100%;
    position: fixed;
}

.navbar {
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
}

.navbar-brand {
    font-weight: bold;
}

#welcome {
    width: 100%;
    height: 35%;
    min-height: 850px;
    background-color: black;
    color: white;
}

.textWrapper {
    font-family: "Courier New", Monospaced;
    font-weight: 600;
    text-align: center;
    padding: 25% 15%;
}


.contentSection {
    width: 100%;
}

#introText {
    font-size: 3.5em;
    text-transform: uppercase;
}

br {
    width: 50px;
    display: block;
    background-color: white;
    color: white;
    border-bottom: 1px solid white;
}

#subText {
    font-size: 2.25em;
}

.hidden {
    display: none;
}

#creds {
    background-color: navy;
}

#projects {
    background-color: yellow;
}

#contact {
    background-color: orange;
}

.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}


